@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<br>
<h3>
    Aim of project
</h3>


<p>Learn ASP.NET Core web app development basics.</p>



<h3>
    Lessons learnt:
</h3>
<ul>
    <li>How MVC works,</li>
    <li>Post-redirect-get design pattern,</li>
    <li>Elementary Html user input and validation,</li>
    <li>Use IHttpClientFactory for API requests.</li>
</ul>


<h3>
    Challenges in development:
</h3>
<ul>
    <li>Getting Azure KeyVault to work (not used in current version).</li>
</ul>