<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/10d2e08d-eba8-40ab-afec-8deb0fcd2d1d/resourceGroups/DefaultResourceGroup/providers/Microsoft.Web/sites/forex-converter-mvc</ResourceId>
    <ResourceGroup>DefaultResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://forex-converter-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>forex-converter-mvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>forex-converter-mvc</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$forex-converter-mvc</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>